{% set idx = id | default('') %}
{% if idx == '' %}{% set idx = uniqid() %}{% endif %}
<div class="row field-element">
    <div class="col lg-12"><label for="{{ idx }}">{{ label }}</label></div>
    <div class="col lg-12">
        <input type="{{ type | default('text') }}" id="{{ idx }}" name="{{ name }}" value="{{ value | default('') }}" />
    </div>
</div>
