{% set idx = id | default('') %}
{% if idx == '' %}{% set idx = uniqid() %}{% endif %}
<div class="row field-element">
    <div class="col lg-12"><label for="{{ idx }}">{{ label }}</label></div>
    <div class="col lg-12">
        {% set multiple = multiple | default(false) %}
        {% set name = multiple ? name ~ '[]' : name %}
        <select id="{{ idx }}" name="{{ name }}" size="{{ size | default('') }}"{% if multiple %} multiple="multiple"{% endif %}>
            {% for opt in options %}
            {% set selected = opt.selected | default(false) %}
            <option value="{{ opt.value }}"{% if selected %} selected="selected"{% endif %}>{{ opt.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
